@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}

:root {
  /* Home */
  --azul: #0c73db;
  --gris: #737373;
  /* App */
  --verde: #26e8ba;
  --azul-dark: #00288c;
  --azul-claro: #10a0f9;
  --gris-dark: #4d4c4c;
  --gris-med: #7c7c7c;
  --gris-normal: #a7a7a7;
  --gris-light: #f9fafd;
  --blanco: white;

  --gradient-verde: linear-gradient(131deg, rgba(35, 232, 180, 1) 0%, rgba(16, 160, 249, 1) 100%);
  --shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.15);

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1367px;

  --titulo: 15px;
  --texto: 14px;
  --font-family-sans-serif: 'Nunito', sans-serif;

  --padding: 20px;
  --border-radius: 10px;
  --border-radius-med: 5px;
}
