.mainHeader {
    background-image: url('./banner_home.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 700px;
}
.mainServices {
    background: url("./pattern_servicios.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}